
.temp-converter-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.celsuis-temp-container {
  display: flex;
  flex-direction: column;
}

.celsuis-temp-container p {
  display: flex;
  justify-content: center;
  margin: 2px auto;
}


.fahrenheit-temp-container {
  display: flex;
  flex-direction: column;
}

.fahrenheit-temp-container p {
  display: flex;
  justify-content: center;
  margin: 2px auto;
}

.temp-input {
  text-align: center;
}